/**
text/font
*/

.font {
  &--thick {
    font-weight: 900;
  }
}
.text {
  @each $name, $color-map in $colors {
    &--#{$name} {
      color: map-get($color-map, "background");

      &::placeholder {
        color: map-get($color-map, "background");
      }
    }
  }
}

.w {
  &-100 {
    width: 100%;
  }
}

.placeholder {
  @each $name, $color-map in $colors {
    &--dark-#{$name} {
      &::placeholder {
        color: darken(map-get($color-map, "background"), 20%);
      }
    }
  }
}

/**
margin/padding
*/
$spacing: (
  "sm": 10px,
  "md": 20px,
  "lg": 40px,
  "xl": 80px,
);

$types: (
  "m": "margin",
  "p": "padding",
);

$directions: (
  "l": "left",
  "r": "right",
  "t": "top",
  "b": "bottom",
);

// e.g. ml-xl
@each $type, $type-val in $types {
  @each $space, $space-val in $spacing {
    @each $direction, $direction-val in $directions {
      .#{$type}#{$direction}-#{$space} {
        #{$type-val}-#{$direction-val}: $space-val;
      }
    }
  }
}
